<header class="flex items-center justify-between bg-white shadow px-6 py-4">
  <div class="flex items-center gap-2">
    <span class="text-yellow-500 text-2xl"><i data-lucide="user"></i></span>
    <h1 class="font-medium">username</h1>
  </div>
  <h2 class="text-xl font-semibold">
    JSQuiz <span class="text-yellow-500">Pro</span>
  </h2>
</header>